* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box !important;
  border: 0px;
}
li {
  tlist-style: none;
}
a {
  text-decoration: none;
}

body {
  min-height: 100vh
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}