:root{
    --acer-color: #ffffff;
    --acer-ground: #ffffff;
    --acer-icon-ground: #27272a;
    --acer-box-ground:#27272a;
    --acer-fontszie: 14px;
    --acer-btnground: #27272a;
    --acer-min-font:#f3f6fa;
    --acer-user-name-style:#27272a;
    --acer-nav-ground-style:#ffffff;
    --acer-nav-ground-icon-style:#27272a;
    --acer-topnav-box:#ffffff;
    --acer-kp-dround:#cecece;/*懒加载卡片背景*/
    --acer-kp-text:linear-gradient(90deg, #eee 25%, #ddd 37%, #eee 63%);/*懒加载卡片内容*/


}

body.acerDark{
    --acer-color: #f3f6fa;
    --acer-ground: #1a1a1a;
    --acer-icon-ground: #27272a;
    --acer-box-ground:#27272a;
    --acer-fontszie: 14px;
    --acer-btnground: #27272a;
    --acer-min-font:#888888;
    --acer-user-name-style:#f3f6fa;
    --acer-nav-ground-style:#27272a;
    --acer-nav-ground-icon-style:#ffffff;
    --acer-topnav-box:#27272a;
    --acer-navavt-box-ground:#333030;
    --acer-kp-dround:#222224; /*懒加载卡片背景*/
    --acer-kp-text:linear-gradient(90deg, #3e3e40 25%, #444445 37%, #3e3e40 63%);/*懒加载卡片内容*/
}
body{
    background: var(--acer-ground);
}
 